/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body styles */
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Set the body height to at least the full viewport height */
    font-family: Arial, sans-serif;
    line-height: 1.5;
  }
  
  /* Header styles */
  header {
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  header h1 {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: bold;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #333;
  }
  
  /* Section styles */
  section {
    flex: 1; /* Expand and fill the remaining vertical space */
    padding: 20px;
  }
  
  section h2 {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
  }
  
  /* Payment methods styles */
  #payment-methods {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  #payment-methods button {
    padding: 10px 20px;
    margin: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  /* Footer styles */
  footer {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    margin-top: auto; /* Push the footer to the bottom */
  }
  
  footer p {
    margin: 0;
  }
  